.mclusters-small {
	background-color: rgba(197, 142, 54, 0.611);
	}
.mclusters-small div {
	background-color: rgba(21, 23, 60, 0.6);
	}

.mclusters-medium {
    background-color: rgba(101, 120, 216, 0.6);
	}
.mclusters-medium div {
    background-color: rgba(25, 45, 147, 0.6);
	}

.mclusters-large {
	background-color: rgba(101, 120, 216, 0.6);
	}
.mclusters-large div {
	background-color: rgba(25, 45, 147, 0.6);
	}

.rclusters-small {
	background-color: rgba(40, 233, 137, 0.611);
	}
.rclusters-small div {
	background-color: rgba(20, 173, 59, 0.6);
	}

.rclusters-medium {
    background-color: rgba(11, 155, 30, 0.671);
	}
.rclusters-medium div {
    background-color: rgba(29, 78, 10, 0.456);
	}

.rclusters-large {
	background-color: rgba(44, 135, 16, 0.6);
	}
.rclusters-large div {
	background-color: rgba(11, 83, 9, 0.6);
	}

	
	/* IE 6-8 fallback colors */
.leaflet-oldie .mclusters-small {
	background-color: rgba(25, 45, 147, 0.6);
	}
.leaflet-oldie .mclusters-small div {
	background-color: rgba(25, 45, 147, 0.6);
	}

.leaflet-oldie .mclusters-medium {
	background-color: rgba(25, 45, 147, 0.6);
	}
.leaflet-oldie .mclusters-medium div {
	background-color: rgba(25, 45, 147, 0.6);
	}

.leaflet-oldie .mclusters-large {
	background-color: rgba(25, 45, 147, 0.6);
	}
.leaflet-oldie .mclusters-large div {
	background-color: rgba(25, 45, 147, 0.6);
}

.mclusters, .rclusters {
	background-clip: padding-box;
	border-radius: 40px;
	width:70px;
	height:70px;
	background-color:rgb(97, 97, 190);
	text-align: center;
	font-size:22px;
	display:flex;
	justify-content:center;
	align-items:center;

	}
.mclusters div, .rclusters div {
	width: 50px;
	height: 50px;
	margin:auto;
	margin-top:10px;
	display:flex;
	justify-content:center;
	align-items:center;

	text-align: center;
	border-radius: 50%;
	font: 18px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.mclusters span, .rclusters span {
	line-height: 30px;
	color:white;
	text-align: center;
	}